<div class="panel panel-default">  
    <div class="panel-heading">  
        <h1 style="text-align: center">Products</h1><br>  
        <div class="row" [hidden]="!deleteMessage">  
               
                  <div class="col-sm-4"></div>  
                  <div class="col-sm-4">  
                          <div class="alert alert-info alert-dismissible">  
                                  <button type="button" class="close" data-dismiss="alert">×</button>  
                                  <strong>Product Data Deleted</strong>  
                          </div>  
                  </div>  
                  <div class="col-sm-4"></div>  
          </div>             
      </div>  
    
      
    <div class="panel-body">  
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"  
        [dtTrigger]="dtTrigger"  >  
            <thead class="thead-light">  
                <tr>  
                    <th>Product ID</th>  
                    <th>Product Name</th>  
                    <th>Dimension</th> 
                    <th>Manufacturer</th>
                    <th>Price</th>
                    <th>ProductCategory</th>
                    <th>Quantity</th>
                    <th>Specifications</th>
                    <th>Colour</th>
                    <th>Action</th>  
                      
                </tr>  
            </thead>  
            <tbody>  
                 <tr *ngFor="let product of products ">  
                    <td>{{product.product_id}}</td>  
                    <td>{{product.productName}}</td>
                    <td>{{product.dimension}}</td>
                    <td>{{product.manufacturer}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.productCategory}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.specifications}}</td>
                    <td>{{product.colour}}</td>
                    <td><button (click)="deleteProduct(product.product_id)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>   
                      <button (click)="editProduct(product.product_id)" class='btn btn-info'  
                      data-toggle="modal" data-target="#myModal">Edit</button>  
                    </td>  
                  </tr>   
            </tbody><br>  
        </table>  
    </div>  
  </div>   
    
  <div class="modal" id="myModal">  
          <div class="modal-dialog">  
            <div class="modal-content">  
                  <form [formGroup]="productupdateform" #updateProd (ngSubmit)="updateProduct(updateProd)">  
              <!-- Modal Header -->  
              <div class="modal-header">  
                <h4 class="modal-title" style="text-align: center">Edit Product</h4>  
                  
              </div>  
                
              <!-- Modal body -->  
              <div class="modal-body" *ngFor="let product of productlist " >  
                  <div [hidden]="isupdated">  
    
                    <input type="hidden" class="form-control"  formControlName="product_id" [(ngModel)]="product.product_id">  
                    <div class="form-group">  
                        <label for="name">Product Name</label>  
                        <input type="text" class="form-control" formControlName="productName"   
                          data-toggle="tooltip" data-placement="right" title="Enter Product Name">  
                          <div class="alert alert-danger" *ngIf = "(ProductName.touched) && (ProductName.invalid)"   
                          style="margin-top: 5px;">  
                            <span *ngIf="ProductName.errors.required">Product name is Required</span>                       
                          </div>  
                    </div>  
          
                    <div class="form-group">  
                      <label for="colour">Colour</label>  
                      <input type="text" class="form-control" formControlName="colour"   
                        data-toggle="tooltip" data-placement="right" title="Enter Product Colour">  
                        <div class="alert alert-danger" *ngIf = "(Colour.touched) && (Colour.invalid)"   
                        style="margin-top: 5px;">  
                          <span *ngIf="Colour.errors.required">Product colour is Required</span>                       
                        </div>  
                  </div>  
          
                  <div class="form-group">  
                      <label for="dimension">Dimension</label>  
                      <input type="text" class="form-control" formControlName="dimension"   
                        data-toggle="tooltip" data-placement="right" title="Enter Product Dimension">  
                        <div class="alert alert-danger" *ngIf = "(Dimension.touched) && (Dimension.invalid)"   
                        style="margin-top: 5px;">  
                          <span *ngIf="Dimension.errors.required">Product dimension is Required</span>                       
                        </div>  
                  </div>  
          
                  <div class="form-group">  
                      <label for="manufacturer">Manufacturer</label>  
                      <input type="text" class="form-control" formControlName="manufacturer"   
                        data-toggle="tooltip" data-placement="right" title="Enter Product Manufacturer">  
                        <div class="alert alert-danger" *ngIf = "(Manufacturer.touched) && (Manufacturer.invalid)"   
                        style="margin-top: 5px;">  
                          <span *ngIf="Manufacturer.errors.required">Product manufacturer is Required</span>                       
                        </div>  
                  </div>  
          
                  <div class="form-group">  
                      <label for="price">Price</label>  
                      <input type="text" class="form-control" formControlName="price"   
                        data-toggle="tooltip" data-placement="right" title="Enter Product Price">  
                        <div class="alert alert-danger" *ngIf = "(Price.touched) && (Price.invalid)"   
                        style="margin-top: 5px;">  
                          <span *ngIf="Price.errors.required">Product price is Required</span>                       
                        </div>  
                  </div>  
          
                  <div class="form-group">  
                      <label for="productCategory">ProductCategory</label>  
                      <input type="text" class="form-control" formControlName="productCategory"   
                        data-toggle="tooltip" data-placement="right" title="Enter Product Price">  
                        <div class="alert alert-danger" *ngIf = "(ProductCategory.touched) && (ProductCategory.invalid)"   
                        style="margin-top: 5px;">  
                          <span *ngIf="ProductCategory.errors.required">Product product Category is Required</span>                       
                        </div>  
                  </div>  
          
                  <div class="form-group">  
                      <label for="quantity">Quantity</label>  
                      <input type="text" class="form-control" formControlName="quantity"   
                        data-toggle="tooltip" data-placement="right" title="Enter Product Quantity">  
                        <div class="alert alert-danger" *ngIf = "(Quantity.touched) && (Quantity.invalid)"   
                        style="margin-top: 5px;">  
                          <span *ngIf="Quantity.errors.required">Product quantity is Required</span>                       
                        </div>  
                  </div>  
          
                  <div class="form-group">  
                      <label for="specifications">Specifications</label>  
                      <input type="text" class="form-control" formControlName="specifications"   
                        data-toggle="tooltip" data-placement="right" title="Enter Product Specifications">  
                        <div class="alert alert-danger" *ngIf = "(Specifications.touched) && (Specifications.invalid)"   
                        style="margin-top: 5px;">  
                          <span *ngIf="Specifications.errors.required">Product price is Required</span>                       
                        </div>  
                  </div>                     
          </div>    
          <div [hidden]="!isupdated">  
              <h4>Product Detail Updated!</h4>  
          </div>          
              
    </div>  
      
    <!-- Modal footer -->  
    <div class="modal-footer" >  
      <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>  
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>  
    </div>  
      
</form>  
  </div>  
</div>  
</div>  